.floatContainer {
    position: relative;
}

.wrapper {
    display: flex;
}

.left {
    justify-content: right;
    width: 50%;
}

.right {
    justify-content: left;
    width: 50%;
}

.txtArea{
    height: 80px;
    width: 700px;
}

.applyReason {
    text-align: center;
    font-size: small;
    font-weight: lighter;
}